<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>ESTORE</title>
  </head>
  <body>
    <div class="grid_area">
      <header>
        <div>
          <a href="index.html" class="logo">ESTORE</a>
        </div>
        <div>
          <a href="signup.html">SignUp</a>
          <a href="cart.html">Cart</a>
        </div>
      </header>
      <main>
        <div class="product_details">
          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>

          <div class="card">
            <div class="image">
              <a href="product.html">
                <img src="./images/p1.jpg" alt="product image" />
              </a>
            </div>

            <div class="card_body">
                <div>
                    <a href="product.html">Nike Slim Shirts</a>
                </div>
              
              <div class="rating">
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
                <span>
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price"><span>&#8377</span>200</div>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <p>All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
